@page
@model SAML_Auth_MC.Pages.LoginModule
@{
    ViewData["Title"] = "LoginModule";
}

<style>
    form {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin: 0 auto;
        padding: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 10px;
    }

    button[type="submit"] {
        display: block;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 15px;
        cursor: pointer;
    }

        button[type="submit"]:hover {
            background-color: #0069d9;
        }
</style>
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">You are signed in as @User.Identity.Name.</h1>
        <form method="post" asp-page-handler="Logout">
            <button type="submit" style="margin-left:140px" class="btn btn-primary">Logout</button>
        </form>
    }
    else
    {
        <h1 class="display-4">Please sign in</h1>
        <form method="post" asp-page="./LoginModule" asp-page-handler="Login">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" id="emailInput" name="Input.Email" placeholder="Enter email" asp-for="Input.Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="Input.Password" placeholder="Password" asp-for="Input.Password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" asp-page-handler="Login">Sign in</button>
        </form>
    }
</div>